<div class="view-form-wrapper" custom-scrollbar="minimal-dark">
    <form name="eduForm.form" class="view-form" ng-submit="eduForm.submitForm()" novalidate>
        <fieldset class="fields-wrapper">
            <header class="form-header">
                <h6 class="loading-alert">
                    <img src="assets/img/loading_spin.svg" alt="Resm.es Loading Spin" ng-if="eduForm.formHeaderLoader">
                    {{ eduForm.formTitle }}
                </h6>
                <a ui-sref="resmes.education" class="cancel-button" title="Cancel Entry">×</a>
            </header>
            <div class="form-body slide-animation" ng-if="eduForm.formIsCreating || eduForm.formUpdateReady">
                <ul class="form-errors slide-animation" ng-if="eduForm.formSubmitted && (!eduForm.form.$valid || eduForm.serverError)">
                    <li class="slide-animation" ng-if="eduForm.form.school.$error.required">
                        <strong>School Name</strong> is a required field
                    </li>
                    <li class="slide-animation" ng-if="eduForm.form.degree.$error.required">
                        <strong>Degree</strong> is a required field
                    </li>
                    <li class="slide-animation" ng-if="eduForm.form.course.$error.required">
                        <strong>Course / Field of Study</strong> is a required field
                    </li>
                    <li class="slide-animation" ng-if="eduForm.form.start_year.$error.required">
                        <strong>Start Year</strong> is a required field
                    </li>
                    <li class="slide-animation" ng-if="eduForm.form.start_year.$error.format">
                        <strong>Start Year</strong> must be entered in the YYYY format
                    </li>
                    <li class="slide-animation" ng-if="eduForm.form.start_year.$error.interval">
                        <strong>Start Year</strong> must be no later than the <strong>End Year</strong>
                    </li>
                    <li class="slide-animation" ng-if="eduForm.form.end_year.$error.format">
                        <strong>End Year</strong> must be entered in the YYYY format
                    </li>
                    <li class="slide-animation" ng-if="eduForm.serverError">
                        <span ng-if="eduForm.serverError.validatorFailed">
                            <strong>Server Validation Failed.</strong><br>
                            Double-check every entry field before resubmitting them.
                        </span>
                        <span ng-if="!eduForm.serverError.validatorFailed">
                            <strong>Internal Server Error.</strong><br>
                            If problem persists, please report the issue to our support lines.
                        </span>
                    </li>
                </ul>
                <input type="text" name="school" placeholder="School Name *" autocomplete="off" ng-model="eduForm.formData.school" required>
                <input type="text" name="degree" placeholder="Degree *" autocomplete="off" ng-model="eduForm.formData.degree" required>
                <input type="text" name="course" placeholder="Course / Field of Study" autocomplete="off" ng-model="eduForm.formData.course" required>
                <textarea rows="3" name="description" id="edu-description" placeholder="Description" ui-tinymce="eduForm.descriptionOptions" ng-model="eduForm.formData.description"></textarea>
                <div class="self-clear">
                    <input type="text" name="start_year" class="half-width" placeholder="Start Year (YYYY) *" autocomplete="off" ng-model="eduForm.formData.start_year" yyyy-date-format max-year="{{ eduForm.formData.end_year }}" required>
                    <input type="text" name="end_year" class="half-width last" placeholder="{{ eduForm.status ? '&mdash;' : 'End Year (YYYY)' }}" autocomplete="off" ng-model="eduForm.formData.end_year" yyyy-date-format ng-readonly="eduForm.status">
                </div>
                <label class="full-width"><span class="highlight">TIP</span> Enter the expected graduation year as the "End Year" if applicable.</label>
                <footer class="form-buttons">
                    <h6 class="loading-alert" ng-if="eduForm.formLoading">
                        <img src="assets/img/loading_spin.svg" alt="Resm.es Loading Spin">
                        Processing, please wait...
                    </h6>
                    <input type="submit" value="{{ eduForm.formSubmitText }}" class="button" ng-if="!eduForm.formLoading">
                    <a ui-sref="resmes.education" class="button outline" ng-if="!eduForm.formLoading">{{ eduForm.formCancelText }}</a>
                </footer>
            </div>
        </fieldset>
    </form>
</div>