<section class="app-views-section fixed-section">
    <div class="quick-nav">
        <a ui-sref="resmes.home" class="button" title="Close">×</a>
        <a ng-click="prevSubpanel()" class="button" title="Prev">&laquo;</a>
        <a ng-click="nextSubpanel()" class="button" title="Next">&raquo;</a>
    </div>
    <div class="view-wrapper fixed-section" custom-scrollbar="minimal-dark">
        <header class="view-header self-clear">
            <h5>Edit General Info</h5>
        </header>
        <ul class="view-entries">
            <li class="slide-animation" ng-if="gnr.loading">
                <h6 class="loading-alert">
                    <img src="assets/img/loading_spin.svg" alt="Resm.es Loading Spin">
                    Loading, please wait...
                </h6>
            </li>
            <li class="slide-animation" ng-if="gnr.serverError">
                <h6>
                    Internal Server Error.<br>
                    Entries could not be loaded at this time.
                </h6>
            </li>
            <li ng-repeat-start="general in cachedGeneral" ng-if="!gnr.loading && !gnr.serverError">
                <a ui-sref="resmes.general.edit({ section: 'profile' })" class="button">Edit</a>
                <h6 class="main-heading">Profile Overview</h6>
                <table>
                    <tbody>
                        <tr>
                            <td>Full Name</td>
                            <td>{{ general.full_name ? general.full_name : '&mdash;' }}</td>
                        </tr>
                        <tr>
                            <td>Resume Headline</td>
                            <td>{{ general.headline ? general.headline : '&mdash;' }}</td>
                        </tr>
                        <tr>
                            <td>Summary</td>
                            <td>
                                <span ng-if="!general.summary">&mdash;</span>
                                <div class="long-text" ng-if="general.summary" ng-bind-html="general.summary"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li ng-repeat-end ng-if="!gnr.loading && !gnr.serverError">
                <a ui-sref="resmes.general.edit({ section: 'contact' })" class="button">Edit</a>
                <h6 class="main-heading">Contact Details</h6>
                <table>
                    <tbody>
                        <tr>
                            <td>Current Location</td>
                            <td>{{ general.location ? general.location : '&mdash;' }}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{ general.phone ? general.phone : '&mdash;' }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ general.email ? general.email : '&mdash;' }}</td>
                        </tr>
                        <tr>
                            <td>Website</td>
                            <td>{{ general.website ? general.website : '&mdash;' }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <div ui-view="form" class="opacity-animation"></div>
</section>